.game{
    position: absolute;
    top:25%;
    left:35%;
    
}

.heading{
    font-size: 30px;
    font-family:cursive;
    font-weight: 550;

    text-align: center;
}

.user-button{
    height: 100px;
    width: 100px;
    padding: 5px;
    margin:10px;

    font-size: 15px;
    font-family:monospace;
    font-weight: 500;

    background-color: rgb(255, 255, 255);

    /* border: 1px solid rgb(94, 94, 94);
    border-radius:6px; */
    border:0px;
    border-radius: 35px;

    cursor: pointer;

     box-shadow: 0 0 20px 1px rgba(48, 217, 79, 0.695);

    transition:all 0.2s ease;
}

.user-button:hover{
    transform: scale(1.02);
    /* border: 2px solid rgb(255, 143, 143); becuase i remove the border in parent class*/

    box-shadow: 0 0 15px 8px rgb(255, 172, 172);
}

.user-button:active{
    transform:scale(1.01);
    /* border:2px solid rgb(255, 115, 115); */

    box-shadow:0 0 15px 10px rgb(255, 113, 113);
}

.choice-image{
    height: 100px;
}

.display{
    text-align: center;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 20px;
    margin:10px;
    padding: 5px;

    box-shadow:0 0 7px 2px rgb(156, 156, 156);
}
.score-board{
    text-align: left;
    margin:5px;
}

.score{
    font-family:serif;
    font-weight: 50;
}

.move{
    background-color: rgb(58, 37, 143);
    border-radius: 10px;
    color: rgb(255, 255, 255);

    display: grid;
    grid-template-columns:50% 50%;
    
}

.user-move,.computer-move{
    border: 2px solid white;
}


.result{
    background-color: rgb(188, 49, 49);
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

.restart-game{
    background-color: white;
    border:none;
    cursor: pointer;
    float: right;
}

