#calculator{
  border:2px solid #bbb7b7;
  border-radius:5px;
  width:200px;
  position: absolute;
  top:30%;
  left:43%;
}

#display{
  margin:10px;
  width:88%;
  font-size: 25px;
  border:1px solid #bbb7b7;
  border-radius: 5px;
}

.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}

.button{
  width:45px;
  height:45px;
  margin:3px;
  transition:all 0.1s ease-in-out;
}

.button:hover{
  transform: scale(1.03);
}